/* fonts */
@font-face{
    font-family: "Railway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Railway-medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Railway-bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: "Railway-extrabold";
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face{
    font-family: "Railway-semibold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Railway-black";
    src: url(../fonts/Raleway-Black.ttf);
}
/* colors */
:root{
    --primary:#000;
    /* --primary:#EEBF00; */
    --secondary:#232838;
    --renew:#f0eff3;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    /* --light:#F0F0F0; */
    --light:#cac9d2;
    --heaven:#FFFFFF;
    --Footer:#2D333F;
}


/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing:antialiased;
    font-family: "Railway-regular";
}

/* ownstyle */
.tin{
    width: 3rem;
}
.icog{
    /* position: absolute; */
    position: relative;
   top: -300px;
   margin-left: 1rem;
}
.icog2{
    width: 250px;
}
/* seachdd */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
/* html,
body
{
  display: grid;
  height: 100%;
  place-items: center;
  background: #664AFF;
} */
.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    text-align: center;
}
.days,.hours,.minutes,.seconds,.amorpm{
    font-family:Arial, Helvetica, sans-serif;
    width: 9em;
    height: 9em;
    background-color:#000;
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.box>h1{
    font-size: 1.5em;
    color: white;
}
#days,#hours,#minutes,#seconds,#amorpm{
    font-size: 2em;
    color:white;

}
.containnn{
    display: grid;
    place-items: center;
    /* align-self: center; */
    justify-self: center;
}
::selection{
  color: #fff;
  background: #664AFF;
}
.searchh-box{
    margin-bottom: 2rem;
    position: relative;
    right: 290px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px 30px rgba(0,0,0,.2);
  transition: all 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.searchh-box.active{
  /* width: 350px; */
  /* width: 650px; */
  width: 70vw;
  /* height: 7vh; */
}
.searchh-box input{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 50px;
  background: #fff;
  outline: none;
  padding: 0 60px 0 20px;
  font-size: 21px;
  opacity: 0;
  transition: all 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.searchh-box input.active{
  opacity: 1;
  font-size: 1.5rem;
}
.searchh-box input::placeholder{
  color: #a6a6a6;
}
.searchh-box .searchh-icon{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  background: #fff;
  /* background: rgb(50, 12, 155); */
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #343030;
  cursor: pointer;
  z-index: 1;
  /* transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
  transition: all 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.searchh-box .searchh-icon.active{
  right: 5px;
  height: 50px;
  line-height: 50px;
  width: 3rem;
  /* width: 50px; */
  font-size: 20px;
  background: #343030;
  color: #fff;
  /* color: rgb(20, 212, 132); */
  transform: translateY(-50%) rotate(360deg);
}
.searchh-box .cancell-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: all 2.5s 2.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}
.searchh-box .cancell-icon.active{
  right: -40px;
  transform: translateY(-50%) rotate(360deg);
}
.searchh-box .searchh-data{
  text-align: center;
  padding-top: 7px;
  color: #02026f;
  font-size: 21px;
  font-weight: bold;
  word-wrap: break-word;
}
.searchh-box .searchh-data.active{
  display: none;
}

/* endseachdd */
nav{
    display: none;
}
.topbar{
    display: none;
}

a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}
 .navbar img{
  position: relative;
  right: 55px;
}
.container{
  
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    /* position: relative;
    left: 30px; */
    
  
}
@media (min-width:576px){
    .container{
        max-width: 548px;
    }
}
@media (min-width:768px){
    .container{
        max-width: 728px;
    }
}
@media (min-width:992px){
    .container{
        max-width: 968px;
    }
}
@media (min-width:1200px){
    .container{
        max-width: 1152px;
    }
}
.main-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;    
}
.nav-background{
    width: 100%;
    height: 100%;
    color: var(--pure);
    background: var(--Footer);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    z-index: 1;
}

.nav-trigger{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 15px;  
    /* display: none; */
}
.nav-trigger svg{
   transform: rotate(90deg) scaleX(-1);
   -webkit-transform: rotate(90deg) scaleX(-1);
  -moz-transform: rotate(90deg) scaleX(-1);
   -ms-transform: rotate(90deg) scaleX(-1);
   -o-transform: rotate(90deg) scaleX(-1);
   width: 40px;
   height: 40px;
}
.site-content-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--heaven);
    z-index: 2;
    transition: all 1.0s ease;
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -ms-transiton:all 1.0s ease;
    -o-transition: all 1.0s ease;
}
.site-content-wrapper.scaled{
    transform: scale(1) translateX(20%);
    -webkit-transform: scale(1) translateX(20%);
    -moz-transform: scale(1) translateX(20%);
    -ms-transform: scale(1) translateX(20%);
   -o-transform: scale(1) translateX(20%);
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -ms-border-radius: 3px;
   -o-border-radius: 3px;
   box-sizing:0 3px 10px 0 var(--secondary);
}
.site-content{
    width: 100%;
    height: 100%;
    overflow-x: auto;
}
header.topbar{
    background: var(--secondary);
    color: var(--pure);
font-family: "Railway-semibold";
padding: 0.35rem 0;
}
header.topbar .auth > div a{
    color: var(--pure);
    text-decoration: none;
}
header.topbar .icons a{
    margin-right:0.6rem;
}
header.topbar .auth .divider{
    padding:0 1rem;
}
header.topbar .auth > div img{
margin-right: 0.35rem;
}
.flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.items-center{
    align-items: center;
}
nav .top{
    padding: 1.5rem 0;
    /* apply own style p */
    display: none;
}
nav .top .contact h5, nav .top .time h5{
    font-family: "Railway-black";
    margin-bottom: 0.25rem;
}
nav .top .contact h6, nav .top .contact h6{
    font-family: "Railway-medium";
    letter-spacing: 0.055rem;
    font-size: 00.75rem;
    color: var(--ternary);
}
nav .top .contact img, nav .top .time img{
    margin-right: 1rem;
}
.justify-center{
    justify-content: center;
}
nav .navbar a{
    text-decoration: none;
    color: var(--secondary);
    font-family: "Railway-semibold";
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transiton:all .3s ease;
    -o-transition: all .3s ease;
}
nav .navbar a.active{
    background: var(--primary);
    color: var(--pure);
}
nav .navbar a:hover{
    background: var(--primary);
    color: var(--pure);
}
.magic-shadow{
    position: relative;
    left: -228px;
    background: var(--heaven);
}
.magic-shadow:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    /* applyown */
    /* background-image: url(../icons/shadow.svg); */
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -22px;
    z-index: -1;

}
.magic-shadow-sm{
    position: relative;
    background: var(--heaven);
}
.magic-shadow-sm:after{
    content: '';
    display: block;
    width: 100%;
    height: 69px;
    background-image: url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -20px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/*  */
header.hero{
    height: 600px;
    /* background-image:url(../images/hero.png); */
    /* background-image:url(../images/vegetables.jpg); */
    /* background-position: 0% 0%; */
    /* width: 100%; */
    /* height: 60vh; */
    /* margin-top: 0.50rem; */
    /* background-size:cover ; */
    /* background-repeat:no-repeat; */
    /* overflow: hidden; */
    background: linear-gradient(
        rgb(95 95 93 / 19%), 
        rgb(13 13 13 / 14%)
    ), url(../images/pexels-askar-abayev-5638816.jpg);


    /* ), url(../images/pexels-nicole-michalou-5778892.jpg); */
    background-size: cover;
    /* margin-top: 0.50rem; */
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
header.hero .containerr{
    position: relative;
    right: -120px;
}
header.hero .welcome{
    margin-bottom: 00.25rem;
}

header.hero .welcome span{
    font-family: Railway-bold;
    color: var(--secondary);
    margin-right: 00.75rem;
}
header.hero h1{
    font-family: "Railway-extrabold";
    color: var(--pure);
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}
header.hero h1 span{
    color: var(--primary);
}
header.hero p{
    font-family: "Railway-medium";
    width:50%;
    line-height: 1.5;
    margin-right: 1rem;
    color: var(--pure);
}
.btn{
    padding: 0.75rem 0.75rem;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    line-height: 0.8;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3 ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
      border: 1px solid transparent;
}
.btn-primary {
    background: var(--primary);
    color: var(--heaven);
}
.btn-primary:hover {
    background: var(--heaven);
    color: var(--primary);
    border: 1px solid var(--primary);
}

.btn-secondary {
    background: var(--secondary);
    color: var(--heaven);
}
.btn-secondary:hover{
    background: var(--heaven);
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
header.hero button:first-child{
    margin-right: 0.50rem;
}
header.hero .hero-image{
    position: absolute;
    top: -40px;
    right: 40px;
}
section{
    padding: 4rem 0;
    background: var(--renew);
}
section.top-products{
    background: var(--light);
}
.section-heading{
    font-family: "Railway-bold";
    text-align: center;
    position: relative;
    margin-bottom: 6rem;

}
.section-heading::after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    background-image: url(../icons/hr.svg);
    background-repeat: no-repeat;
     background-position: center;
     position: absolute;
     bottom: -40px;
}
section.top-products .food-slider .food-card{
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
section.top-products .food-slider .food-card .product-image img{
    width: 89%;
    height: 200px;
    object-fit: contain;
    padding-bottom: 1rem;
}
hr{
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
section.top-products .food-slider .food-card h2{
    font-family: "Railway-bold";
    font-size: 1.3rem;
    margin-bottom: 00.25rem;
}
.text-center{
    text-align: center;
}
section.top-products .food-slider .food-card .stars {
    margin-bottom: 00.50rem;
}

section.top-products .food-slider .food-card .stars img{
    margin-right: 00.35rem;
}
section.top-products .food-slider .food-card .price{
    font-family: "Railwat-medium";
    color: var(--danger);
    margin-bottom: 1rem;
}
section.top-products .food-slider .food-card button{
    font-family: "Railway-medium";
    color: var(--secondary);
    background: var(--heaven);
    border: 2px solid var(--primary);
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    display: flex;
    align-items: center;
    width: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transiion: all .3s ease;
    -o-transition: all .3s ease;
}
section.top-products .food-slider .food-card button:hover{
    background: var(--primary);
    color: var(--heaven);
}

.food-slider .food-card button img{
    background: var(--primary);
    padding: 0.50rem;
    height: 32px;
    margin-right:1.2rem;
}
.slick-slide{
    margin: 0 27px;
}
.slick-list{
    margin: 0 -27px;
}
.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: var(--primary);
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    cursor: pointer;
    outline: none;    
}
.prev-btn{
    position: absolute;
    top: 46%;
    left: -3rem;
    z-index: 1;
}
.next-btn{
    position: absolute;
    top: 46%;
    right: -3rem;
    z-index: 1;
}
.top-products .slider{
    position: relative;
}
.top-products .btn-wrapper{
    margin-top: 2rem;
}
.slick-track{
    padding: 1rem 0;
}
section.about-meal img{
    width: 85%;
}
.flex-1{
    flex: 1;
}
/* 
section.about-meal{
    background: linear-gradient(
        rgb(95 95 93 / 19%), 
        rgb(13 13 13 / 14%)
       
    ), url(../images/jakub.jpg);
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} */
section.about-meal img{
    /* height: 500px; */
    width: 563px;
    position: relative;
    right: 144px;
}
section.about-meal h2{
    font-family: "Railway-bold";
    font-size: 1.4rem;
    color: var(--secondary);
    margin-bottom :2rem;
    line-height: 1.3;
}
section.about-meal p{
    line-height: 1.7;
    margin-bottom: 4rem;
}
section.our-services{
    background: var(--light);
    position:relative;
    z-index: 0;
}
section.our-services .card-wrapper{
    margin-right: -2rem;
    margin-top: 8rem;
}
 section.our-services .service-card{
    background: var(--heaven);
    text-align: center;
    padding: 2rem;
    padding-top: 4rem;
    margin-right: 2rem;
    position: relative;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
section.our-services .service-card .icons{
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
section.our-services .service-card h2{
    font-family: "Railway-bold";
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
}
section.our-services .service-card p{
    line-height: 1.6;
    margin-bottom: 1.3rem;

}
.text-primary{
    color: var(--primary);
}
/* look great backgroundimage */
section.big-deal {
    background: linear-gradient(
        rgb(35 43 56 / 28%), 
        rgb(35 43 56 / 42%)
    /* ), url(../images/food-table.jpg); */
    ), url(../images/henk-van-der-steege-FxzTFGxTk78-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
section.big-deal .timer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -2rem;
    margin-bottom: 2rem;
}
section.big-deal .timer div{
    margin-right: 2rem;
    background: #141415;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.big-deal .timer div span:first-child{
    font-family: "railwy-semibold";
    font-size: 2.5rem;
    color: var(--heaven);
    margin-bottom: 0.05rem;
}
section.big-deal .timer div span:last-child{
    font-family: "Railway-medium";
    color: var(--heaven);
}
.text-pure{
    color: var(--pure);
}
section.latest-news{
    background: var(--light);
    position: relative;
    z-index: 0;
}
section.latest-news .article-wrapper{
    display:flex;
    margin-right: -2rem;
}
.latest-news .article-wrapper .card{
    margin-right: 2rem;
    background: var(--heaven);
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.latest-news .article-wrapper .card img{
    width: 100%;
}
.latest-news .article-wrapper .card .card-content{
    padding: 2rem;
}
.latest-news .article-wrapper .card .card-content .post-meta{
    margin-bottom: 1rem;
}
.latest-news .article-wrapper .card .card-content .comment-count{
    margin-left: 1rem;
}
.latest-news .article-wrapper .card .card-content h2{
    font-family: "Railway-bold";
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.latest-news .article-wrapper .card .card-content p{
    line-height: 1.6;
}
.latest-news .btn-wrapper{
    margin-top: 2rem
}
/* section.suscribe{ */
    /* background: var(--primary); */
    /* background: #000; */
/* } */
section.suscribe .container > div:first-child img{
    width: 90%;
}
section.suscribe .container div:first-child {
    flex: 1;
}
section.suscribe .container div:last-child {
    flex: 1;
}
section.suscribe h1{
    font-family: "Railway-bold";
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
section.suscribe p{
    font-family: "Railway-medium";
    font-size: 1rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
section.suscribe .input-wrap{
    background: var(--heaven);
    display: flex;
    padding: 0.3rem;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
section.suscribe .input-wrap input{
    width: 100%;
    border: none;
    padding: 0.1rem;
    font-size: 1rem;
    border-radius: 00.50rem;
}
section.suscribe .input-wrap input:focus{
  outline: none;
}
section.suscribe .input-wrap button{
    padding: 0.8rem 2rem;
    border: none;
    background:#000;
    color: var(--pure);
    border-radius: 00.50rem;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transiion: all .3s ease;
    -o-transition: all .3s ease;
    outline: none;
}
section.suscribe .input-wrap button:hover{
    background:var(--secondary);
}
section.contact-us{
    padding-top:0;
    padding-bottom: 0;
}
section.contact-us .contact-info-wrapper{
    padding: 4rem 0;
    flex: 1;
    background: #cac9d2;
}
section.contact-us .map{
    flex: 1;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
section.contact-us .contact-info{
    display: flex;
    justify-content: center;
}
section.contact-us .contact-info > div > div{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
section.contact-us .contact-info > div > div img{
    margin-right: 1rem;
}
section.contact-us .contact-info > div > div > div{
    display: flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    font-family: "Railway-bold";
    margin-bottom: 00.25rem;
}
footer{
    background: var(--Footer);
    padding: 4rem 0;
}
footer .container{
    display: flex;
    color: var(--pure);
}
footer .box{
    flex: 1;
    margin-right: 2rem;
    text-align: center;
}
footer .instagram-api img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
footer .instagram-api .post-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .instagram-api .post-wrap > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom: 10px;
}
footer .box ul{
    list-style-type:none ;
}
footer .box ul li a{
    color:var(--pure);
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transiion: all .3s ease;
    -o-transition: all .3s ease;
}
footer .box ul li a:hover{
    color: var(--primary);
}
footer .box h3{
    border-bottom:1px solid var(--primary) ;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
footer .box p{
    line-height: 1.6;
    margin-bottom: 1rem; 
}
footer .box ul li{
    margin-bottom: 1rem;
}

footer .box:nth-child(3) > div {
    display:flex;
    justify-content: center;
}
footer .box:nth-child(3){
    text-align: left;
}

footer .box:nth-child(3) h3{
    text-align: center;
} 
footer .box:nth-child(3) > div img{
    margin-right: 1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom: 1.5rem;
}
footer.copyright{
    padding: 1rem 0;
    background: var(--secondary);
    color: var(--pure);
    text-align: center;
    font-size: 00.75rem;
}
footer.copyright a{
    color: var(--primary);
    text-decoration: none;
}
.nav-background .mobile-logo{
    padding: 1rem;
}
.nav-background .mobile-nav{
    padding: 1rem;
}
 .nav-background .mobile-nav ul{
    list-style-type: none;
}
.nav-background .mobile-nav ul li{
    margin-bottom: 1rem;
    margin-left: 3rem;
}
.nav-background .mobile-nav ul li a{
    text-decoration: none;
    color: var(--pure);
    font-family: "Railway-medium";
}
.nav-background .mobile-nav ul li a:hover{
    color: var(--primary);
}
.nav-background .contact, .nav-background .time{
    padding: 1rem;
    padding-left: 0;
}
.nav-background .contact img , .nav-background .time img{
    margin-right: 1rem;
}
.nav-background .contact h5,.nav-background .time h5{
    font-family: "Railway-bold";
    margin-bottom: 0.25rem;
    font-size: 1rem;
}
.nav-background .contact h6,.nav-background .contact h6{
    font-size: 00.75rem;
}
.nav-background .cart{
    margin-bottom: 2rem;
}
.nav-background .cart a{
    color: var(--pure);
    text-decoration: none;
    font-family: "Railway-bold";
    margin-left: 3rem;
}
.nav-background .cart img{
    margin-right: 00.75rem;
    position: relative;
    left: 50px;
    width: 20px;
    height: 20px;
}
@media (max-width:1605px){
    header.hero .containerrd{
        position: relative;
        right: -100px;
    }  
    /* .searchh-box{
        position: relative;
        right: 200px;
} */
}
@media (max-width:1525px){
    header.hero .containerrd{
        position: relative;
        right: -56px;
    }
    .searchh-box{
        position: relative;
        right: 200px;
}
}
@media (max-width:1345px){
    header.hero .containerrd{
        position: relative;
        right: 0px;
    }
    .searchh-box{
        position: relative;
        right: 160px;
}
}
@media (max-width:1280px){
    .site-content-wrapper.scaled{
        transform: scale(1) translateX(30%);
    }
    header.hero .containerrd{
        position: relative;
        right: 25px;
    }
    .searchh-box{
        position: relative;
        right: 150px;
}
}
@media (max-width:1200px) {
    header.hero .hero-image{
        right: -60px;
        top: 0px;
    }
    header.hero .containerrd{
        position: relative;
        right: 55px;
    }
    .searchh-box{
        position: relative;
        right: 100px;
}
}
@media (max-width:1119px){
    .icog{
        display: none;
    }
    header.hero .containerrd{
        position: relative;
        right: -230px;
    }
    .searchh-box{
        position: relative;
        right: 220px;
}
}

@media (max-width:992px) {
    .nav-trigger{
        display: block;
    }
    header.topbar,nav{
        display: none;
    }
    header.hero{
        margin-top: -4rem;
    }
    header.hero .hero-image{
        right: -160px;
        top: 100px;
    }
   .top-products .slider-btn{
       display: none!important;
   }
    
   .latest-news .article-wrapper{
       flex-direction: column;
   }
.latest-news .article-wrapper .card{
    /* margin-right:0; */
    margin-bottom: 4rem;
}
footer .instagram-api .post-wrap > div{
    width: calc(1/2*100% - (1 - 1/3)*10px);  
}
header.hero .containerrd{
    position: relative;
    right: -180px;
}
.searchh-box{
    position: relative;
    right: 220px;
}
header.hero h1 {
    font-size: 2.0rem;
}
}
@media (max-width:850px){
    .site-content-wrapper.scaled{
        transform: scale(1) translateX(40%);
    }
    header.hero h1 {
        font-size: 1.5rem;
    }
    /* .searchh-box.active {
        height: 6vh;
    } */
}
@media (max-width:768px){
   .about-meal .about-meal-wrap{
       flex-direction: column;
   }
   .about-meal .about-meal-wrap img{
       width: 100%;
       margin-bottom: 2rem;
       margin-left: 6rem;
   }
   section.our-services .card-wrapper{
       flex-direction: column;
   }
   section.our-services .card-wrapper .service-card{
       margin-bottom: 6rem;
   }
    footer .container{
        flex-direction: column;
    }
    footer .box{
        text-align: left;
        margin-bottom: 3rem;
        margin-right: 0;
    }
    footer .box:nth-child(3) h3{
        text-align: left;
    }
    footer .box:nth-child(3) > div{
        display: block;
    }
    .searchh-box{
        position: relative;
        right: 180px;
    }
}
@media (max-width:630px){
    .site-content-wrapper.scaled{
        transform: scale(1) translateX(70%);
    }
    header.hero .container{
        position: relative;
        right: -100px;
    }
    .searchh-box{
        position: relative;
        right: 200px;
    }
    .searchh-box.active {
        width: 80vw;
    }
   

}
@media( max-width:576px ){
    header.hero .hero-image{
        right: -235px;
        top:150px;
    }
    header.hero .container{
        padding-left: 2rem;
    }
    header.hero{
        margin-top: -3rem;
    }
    section.big-deal .timer > div{
        margin-right: 00.50rem;
    }
    section.big-deal .timer{
       margin-right: -0.5rem;
    }
    section.suscribe .container{
        flex-direction: column;
        padding: 1.50rem;
    }
    header.hero .containerrd{
        position: relative;
        right: -70px;
    }
    .searchh-box{
        position: relative;
        right: 100px;
    }
}
@media (max-width:540px){
    header.hero .containerrd{
        position: relative;
        right: -10px;
    }
    .searchh-box{
        position: relative;
        right: 40px;
        margin-top: 2rem;
    }
   
}
/* own */
@media(max-width:458px) {
    .searchh-box{
        margin-top: 8rem;

    }
    section.contact-us {
        flex-direction: column;
    }
}

@media(max-width:379px) {
    header.hero p {
        width: 100%;
        font-size: 0.8rem;
    }
}
@media (max-width:370px){
    .site-content-wrapper.scaled{
        transform: scale(1) translateX(80%);
    }
    .searchh-box{
        margin-top: 10rem;

    }
   
}
















